/.gitattributes     export-ignore
/.gitignore         export-ignore
/CHANGELOG.md       export-ignore
/UPGRADE.md         export-ignore
/package.json       export-ignore
/webpack.mix.js     export-ignore
/resources/js       export-ignore
